*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
:root {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;

  .logo {
    width: 300px;
  }

  p {
    font-size: 24px;
    font-weight: bold;
  }
}
